@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Modern+Antiqua&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
}

#map {
    height: 100vh;
    flex-grow: 1;
}

.filter-sidebar {
    width: 200px;
    background-color: #FFFFFF !important;
    color: #000;
    padding: 0px;
    box-sizing: border-box;
    overflow-y: auto;
}


.filter-sidebar h3 {
    padding: 16px;
}

/* summary {
    cursor: pointer;
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    border: 1px solid #ddd;
} */

.data-filters {
    background-color: #f2f3f0d6;
    border-radius: 10px;
    font-family: "Cormorand Garamond", serif;
    font-size: 14px;
    padding: 12px;
    list-style: none;
}

ul {
    list-style: none;
    padding-left: 20px;
}

.data-filters span {
    font-weight: bold;
}

.data-filters span, label {
    padding-left: 6px;
    display: inline;
}

.maplibregl-popup {
    opacity: 0.87;
}

.maplibregl-popup-content {
    pointer-events: none;
    padding: 0.5rem;
    background-color: #f5f4f2;
    color: #200005;
    font-family: "Modern Antiqua", serif;
    max-height: 150px;
    overflow: scroll;
    border: 1px solid #200005;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #200005;
}

.maplibregl-popup-content h4 {
    margin: 0;
    pointer-events: none;
}

.maplibregl-popup-content p {
    margin: 0;
    padding-bottom: 0.2rem;
    pointer-events: none;
}

.maplibregl-popup .popup {
    pointer-events: all;
}

.maplibregl-popup-content button {
    pointer-events: all;
}

.maplibregl-popup-tip {
    z-index: 0;
}

.maplibregl-popup-anchor-left .maplibregl-popup-tip {
	border-right-color: #f7ead3;
}
.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
	border-top-color: #f7ead3;
}
.maplibregl-popup-anchor-top .maplibregl-popup-tip {
	border-bottom-color: #f7ead3;
}
.maplibregl-popup-anchor-right .maplibregl-popup-tip {
	border-left-color: #f7ead3;
}

.maplibregl-popup-close-button {
	font-size: 1rem;
}

.port-info {
    padding: 10px;
}

/* Responsive Design */
@media (max-width: 600px) {

    .filter-sidebar {
        flex: 0 0 auto;
        width: 100%;
        margin-left: 0;;
    }


    #map {
        flex: 1 1 auto;
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100%;
        overflow: hidden;
    }

    .mobile {
        list-style: none;
    }

    .large-screen {
        display: none;
    }


}

/* Responsive Design */
@media (min-width: 600px) {
    .filter-sidebar {
        width: 200px;
        height: 100vh;
    }

    .mobile {
        display: none;
    }

}

/* filter-sidebar.css */
#year-filter {
    margin: 16px;
}

.noUiSlider {
    margin: 15px 0;
}

.year-label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.noUi-connect {
    background-color: #5a291f;
}

.noUi-pips {
    color: #000;
}

.noUi-value-horizontal {
    padding-top: 6px;
}